<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.hzw.appupdatehelper">

    <application>
        <provider
            android:name="android.support.v4.content.FileProvider"
            android:authorities="${applicationId}.fileProvider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths"/>
        </provider>
        <service
            android:name=".AppUpdateService"
            android:exported="false"/>
    </application>
</manifest>
